# Ignore pycache directories
**/__pycache__/
__pycache__/

# Ignore misc. files
*.csv
# with exception for CSVs anywhere under examples/*/saved_results/
!examples/*/saved_results/*.csv
!examples/*/saved_results/**/*.csv
*.egg-info/
.DS_Store
uv.lock

# Ignore directories and files with "images" in their name
output/

venv/